:root {
  --primary-color: black;
  --green: #2b5c8d;
  --base-width: 73%;
  --body-text-color: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
